/* CSS Document */
html{ overflow-x: hidden;}
body{ background-color:#F3F3F5; width:100%; height:100%; margin:0px; padding:0px;scrollbar-face-color:red;scrollbar-track-color:#F3F3F5;scrollbar-arrow-color:#F3F3F5}
.menu-box{ width:100%; height:100%;}

.menu{ width:100%; height:40px;  line-height:50px; text-align:center; vertical-align:middle; cursor:pointer}
.menu:hover{ background-color:#E8E8EB}
.menu-logo{ width:18px; height:18px; margin-left:10px; padding-top:13px; float:left}
.menu-logo img{ width:100%; height:100%}
.menu-title{ width:120px; height:35px; margin-top:5px;color:#666666; margin-left:5px; float:left; line-height:35px; text-align:left; vertical-align:middle}
.menu-title:hover{ color:#FF0000}
.menu-title span{ font-size:13px; font-family:"ו"; }

.my-music-title{ width:180px; height:40px; padding-left:5px; line-height:40px; text-align:left; vertical-align:middle }
.my-music-title span{ font-family:"ו"; font-size:13px;color:#999999}

.music-list-add{ width:180px; height:40px;;}
.list-add-title{ width:100px; height:40px; margin-left:5px; line-height:40px; text-align:left; vertical-align:middle;float:left}
.list-add-title span{ font-size:13px; font-family:"ו";  color:#999999}
.list-add-logo{ width:25px; height:25px; margin-left:40px; float:left; margin-top:6px;  }
.list-add-logo img{ width:100%; height:100%; cursor:pointer}



::-webkit-scrollbar{width:10px; height:50px;  }
::-webkit-scrollbar-track{background-color:#FFFFFF;}
::-webkit-scrollbar-thumb{background-color:#FF0000;-webkit-border-radius:3px;}

