/* CSS Document */
body{ margin:0px; padding:0px;}

ul{ margin:0px; padding:0px;}
li{ list-style:none; float:left;text-align:center; vertical-align:middle; cursor:pointer}
span{ font-family:"ו";outline:none;}
.main{ width:94%; height:100%; margin:0 auto;}
.header{ width:100%; height:45px;}
.header-left{ width:80px;height:45px; float:left; line-height:45px; text-align:left; vertical-align:bottom}
.header-left span{ font-size:12px; color:#999999;}
.header-right{ width:80px;height:45px; float:right; line-height:45px; text-align:right; vertical-align:bottom}
.header-right span{ font-size:12px; color:#336633; cursor:pointer}
.header-right span:hover{ color:#FF0000;}

.nav{ width:100%; height:30px; border-bottom:solid #CCCCCC 1px;}
.nav ul li{height:100%; margin-right:30px; line-height:30px;}
.nav li span{ display:block; color:#666666; font-size:14px;}
.nav li span:hover{ border-bottom:solid #FF0000 2px; color:#FF0000;  }


.music-list{ width:100%;}
.music-list-menu{ width:100%; height:50px; }
.music-list-menu li{ height:22px; margin-top:15px;  padding-right:10px; line-height:20px; }
.music-list-menu li img{ width:20px; height:20px;}
.music-list-menu li span{ color:#333333; font-size:16px;}

.music-list-main{ width:100%; height:100%;}
.lists{ width:100%; height:40px; border-radius:10px; cursor:pointer}
.lists li{ width:80px;height:30px; margin-left:80px; line-height:40px;}
.lists span{ color:#333333; font-size:14px;}
.lists input{ margin-top:12px;}


.mouse-menu{ width:130px; height:300px; border-radius:5px; overflow:hidden; background-color:#FFFFFF; border:solid #333333 1px; position:absolute; left:100px; display:none; top:10px;}
.mouse-menu li{ width:100%; height:43px; line-height:43px; text-align:left;}
.mouse-menu li:hover{ background-color:#CCCCCC}
.mouse-menu span{ display:block; margin-left:10px; color:#333333; font-size:14px;}

























