/* CSS Document */
body{ width:100%; height:100%; margin:0px; padding:0px;}
.right-header{ width:100%; height:13%;background-color:#FAFAFC;}
.header{ width:95%; height:100%; margin:0 auto;  border-bottom:solid #CCCCCC 1px;}
.header-title{ width:100%; height:61%; line-height:50px; text-align:left; vertical-align:middle; }
.header-title span{ font-size:13px; font-weight:bold; color:#999999; font-family:"ו"}
.header-nav{ width:100%; height:40%; }
.header-nav ul{ margin:0px; padding:0px;}
.header-nav ul li{ list-style:none; float:left; margin-right:30px; cursor:pointer;height:100%; line-height:30px; text-align:center; vertical-align:middle}
.header-nav ul li span{ font-size:14px; display:block; font-family:"ו"; color:#666666; font-weight:bold}
.header-nav ul li span:hover{ border-bottom:solid #CC3300 2px; color:#CC3300}
.right-main{ width:100%; height:87%;}
.right-main iframe{ width:100%; height:100%; border:none}
